<script src="https://ajax.gtoogleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=500, initial-scale=1"> 

<div class="BorderMargin">
<image id ='img' src = '/images/red.jpg' alt="LED" style="width:250px;height:250px;" align="left">
<h1>Set Your Status</h1>

<form action="/led/on7" method="post">
<button type="submit" class="button">Available </button>



</form>

<form action="/led/on8" method="post">
<button type="submit" class="button">Busy </button>



</form>



<form action="/led/on11" method="post">
<button type="submit" class="button">Do not disturb </button>



</form>

<form action="/led/allOff">
<button type="submit" class="button">Off</button>



</form>
<a>Led Status: <%=status %></a>
</div>
<script>
$.ajax({
	method: "GET",
	url: "http://192.168.0.228:8080/",
	dataType: "json",
	data: {
		
	}
</script>